@font-face {
  font-family: Art;
  src: url('../static/Art-Dystopia-2.ttf');
}





@font-face {
  font-family: Basement;
  src: url('../static/BasementGrotesque-Black_v1.202.otf');
}




.title{
  font-size: 6em;
  font-family: Basement;
  // text-align: center;
  position: absolute;
  color: rgba(0,0,0,1);
  // pointer-events: none;
  top: 5%;
  left: 5%;
  // justify-content: center;
  // width: 30%;
  height: 20px;
  z-index: 1;
  cursor: pointer;
}

#gallery{
  font-family: Art;
}


input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    opacity: 1;
}


#cuts{
  font-size: 4em;
  position: absolute;
  color: rgba(0,0,0,1);
  font-family: Basement;
  text-align: center;
  // pointer-events: none;
  height: 10%;
  width: 10%;
  top: 15%;
  left: 85%;
  border-radius:10px;
  border: 5px solid black;
}

.pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
  }
  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: saturate(hsl(0, 0%, 0%), 25%);
    will-change: transform;
    transform: translateY(2px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      to left,
      saturate(hsl(0, 0%, 16%), 0%),
      saturate( hsl(0, 0%, 32%), 8%),
      saturate(hsl(0, 0%, 32%), 92%),
      saturate(hsl(0, 0%, 16%), 100%)
    );
  }
  .front {
    display: block;
    position: relative;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 4.25rem;
    color: white;
    background: saturate(hsl(0, 0%, 0% ), 0%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  .pushable:hover {
    filter: brightness(110%);
  }
  .pushable:hover .front {
    transform: translateY(-6px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  .pushable:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  .pushable:hover .shadow {
    transform: translateY(4px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  .pushable:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  .pushable:focus:not(:focus-visible) {
    outline: none;
  }
